{% extends "base.html" %}
{% load utils %}

{% block MainContent %}
	<style>
		.img-thumbnail
		{
			width:100px;
			height:100px;
			margin:5px
		}
	</style>
	<div class="img_desc">
		<table>
			<tr>
				<td>
					{{ team|img_tag:"img-thumbnail" }}
				</td>
				<td>
					{{ team.description }}
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td><strong>Team Leader:</strong></td>
				<td><a href="{{ team.leader|object_link }}">{{ team.leader }}</a></td>
			</tr>
			<tr>
				<td><strong>Members:</strong></td>
				<td>
					<table>
						{% for member in team.members.all %}
							<tr><td><a href="{{ member|object_link }}">{{ member }}</a></td></tr>
						{% endfor %}
					</table>
				</td>
			</tr>
		</table>
	</div>

	<button class="pull-right btn btn-default" data-toggle="modal" data-target="#form_overlay"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
	{% include "form_overlay.html" %}

	<h2>Projects</h2>
	{% include "projects_table.html" with projects=team.projects %}
{% endblock %}